   <div class="filter-wrapper">
 <!-- LEVELS -->
     <div class="filter-categories left">
        <ul>
           {% for menu in site.levels %}            
               <li id="filter-{{menu.slug}}" data-category-name="{{menu.slug}}">{{menu.title}}
               </li>  
             {% endfor %}
          </ul>
        </div>
<!-- Agecategories -->
             <div class="filter-categories right">
        <ul>
           {% for menu in site.agecategories %}            
               <li id="filter-{{menu.slug}}" data-category-name="{{menu.slug}}">{{menu.title}}</li>  
             {% endfor %}
          </ul>
        </div>
</div>
<!--   Search Field -->
    <div class="search-field">
      <input type="text" class="search" placeholder="Search Courses" />
          <div class="filter-terms">
             {% for menu in site.data.categories %}            
                  <div class="hide filter-{{menu.name}}" data-category-name="{{menu.name}}">{{menu.gr}}</div>
                {% endfor %}
          </div>
          <div class="filter-subterms">    
               {% for menutop in site.data.categories %}            
                  {% assign subcategories = site.data.[menutop.name] %}
                  {% for menu in subcategories %}      
                   <div class="hide filter-{{menu.name}}  menu-subcategories-item" data-category-name="{{menu.name}}">{{menu.gr}}</div>
                  {% endfor %}
               {% endfor %}
              </div>
        </div>   
