<!-- School -->
{% assign schools = site.schools | where: 'title', page.school %}
{% for school in schools %}
   {% capture  schoolTitle %}{{ school.title }}{% endcapture %}
   {% capture  schoolUrl %}{{ school.url }}{% endcapture %}
   {% capture  schoolPhone %}{{ school.phone }}{% endcapture %}
   {% capture  schoolContent %}{{ school.content }}{% endcapture %}
   {% capture  schoolExcerpt%}{{ school.excerpt }}{% endcapture %}
      <!-- Place -->
      {% for place in school.places %}
         {% assign places = site.places | where: 'title', place %}
         {% for place in places %}
            {% capture  placeTitle %}{{ place.title }}{% endcapture %}
            {% capture  placeUrl %}{{ place.url }}{% endcapture %}   
            {% capture  placeAddress %}{{ place.address }}{% endcapture %}
            {% capture  placePerioxi %}{{ place.perioxi }}{% endcapture %}
            {% capture  placeLat %}{{ place.latitude }}{% endcapture %}
            {% capture  placeLong %}{{ place.longitude }}{% endcapture %}
         {% endfor %}
      {% endfor %}
{% endfor %}