  <!-- Place -->
      {% assign places = site.places | where: 'title', page.places %}
      {% for place in places %}
	    {% capture  placeTitle %}{{ place.title }}{% endcapture %}
	    {% capture  placeUrl %}{{ place.url }}{% endcapture %}   
	    {% capture  placeAddress %}{{ place.address }}{% endcapture %}
	    {% capture  placePerioxi %}{{ place.perioxi }}{% endcapture %}
	    {% capture  placeLat %}{{ place.latitude }}{% endcapture %}
	    {% capture  placeLong %}{{ place.longitude }}{% endcapture %}
      {% endfor %}