{% include relations/school.html %}

<!-- School img -->
 <div class="School-img">
      <img src="http://placehold.it/1120x461" alt="">
   </div>
<!-- School Title -->
<h1>{{page.title}}</h1>


<p>{{page.content}}</p>
<h2>Επικοινωνία</h2>
<h4>{{page.phone}}</h4>

<!-- Courses -->
<section>
 <h3>Τμήματα</h3> 
 {% assign courses = site.courses | where: 'school', page.title %}
   <div id="courses" class="cards {{ course.categories}} {{ course.age}} {{ course.level}}">
   
        <!-- Masonry gutter sizer-->
     <div class="cards-gutter"></div>
     <!-- Masonry columnWidth sizer -->
     <div class="cards-column"></div>

   {% for course in courses %}
   <div class="cards-item">
<!-- Cards  Image -->
      <div class="cards-img">
         <img src="http://placehold.it/350x250">
         </div>
<!-- Cards Text -->
      <div class="cards-text">
   <!-- Course Title -->
           <div class="cards-title"><a href="{{ site.baseurl}}/{{ course.url }}">{{ course.title }}</a></div>
           <p>{{ course.content | split:"<!-- more -->" | first | strip_html | truncate:300 }}
            {% if course.content | size > 300 %}
               <strong>περισσότερα</strong>
            {% endif %}
         </p>
         </div>
      <div class="cards-school-categories">
      <!-- Find School url -->
              {% assign schools = site.schools | where: 'title' , course.school %}
              {% for school in schools %}
               <div class="cards-school">
                <div class="cards-subtitle"><a href="{{ site.baseurl}}/{{ school.url }}">{{ school.title }}</a></div>
                  </div>
              {% endfor %} 
      <!--   Categories -->
         <div class="cards-categories">
         {{ course.categories}} , {{ course.age}}, {{ course.level}}
            </div>
         </div>
      </div>      
    {% endfor %} 
</div>
</section>

