/*  */
/* Colors */
/*  */
$grey: #999999;
$light-grey: #E7E7E7;
$lighter-grey: #f3f3f3;
$black: #1E1E1E;
$blue: #428bca;
$light-blue: #4280A6;
$white: #ffffff;
$light-red: #BD6E6E;
$pink: #F21C7D;
/* Defaults */
$background-grey: $lighter-grey;
$text-color: lighten( $black, 30%);
$a-color: $blue;
$logo-link: $pink;
$header-bg: $white;
$hover-color: $light-blue;
$header-text: $white;
$border-color: lighten( $light-grey, 30%);
$page-title: $light-grey;
/* Frontpage Slideshow */
$cards-bg: $white;
$button-text: $white;
/* Reviews */
$reviews-bg: $light-grey;
/* Prices */
$prices-color: $light-blue;
/* Seasons */
$seasons-dates: $light-red;
/* Blocks Background */
$block-bg: lighten( $black, 85%);
/* Booking */
$submit-bg: $blue;
/* Footer */
$footer-bg: $lighter-grey;
$link-color: #234394;
$text-small: 24px;