$font-family-heading: Open sans, Helvetica, Arial, sans-serif;
/* Cards frontpage */
.cards {
   @include container;
   .cards-column {
      width: span(4); 
   }
   .cards-gutter{
      width: gutter();
   }
   .cards-item {
      width: span(4);
      margin-top: gutter();
      background: $cards-bg;
      border: 1px solid $light-grey;
      border-radius: 6px;
   }
   .cards-img img {
      border-radius: 6px 6px 0 0;
      border-bottom: 1px solid $light-grey;
   }
   .cards-text {
      padding: 1rem;
      border-bottom: 1px solid $light-grey;
      .cards-title {
         font-size: 24px;
         font-weight: bold;
         font-family: $font-family-heading;
         a {
            color: #AB1386;
            &:hover {
              text-decoration: underline;
            }
         }
      }
      .cards-perioxi {
         
      }
   }
   .cards-school-categories {
      &:hover {
         background: $lighter-grey;
      }
   }
   .cards-school {
      padding: 1rem 1rem 0;
      color: #6E6E6E;
      .cards-subtitle {
         font-size: 15px;
         a {
            display: block;
            color: $grey;
         }
      }
   }
   .cards-categories {
      font-size: 14px;
      padding: 0 1rem 1rem;
      font-weight: bold;
   }
}