// Import partials from `sass_dir` (defaults to `_sass`)
@import 
   "sass/susy-config",
   "bower_components/susy/sass/susy",
   "bower_components/sass-toolkit/stylesheets/toolkit"
   ;
@import 
   "sass/colors",
   "sass/layout",
   "sass/frontpage",
   "sass/header",
   "sass/school",
   "sass/course"
   ;
/*  */
/* Fonts */
/*  */
$font-family-text: Roboto slab, Helvetica, Arial, sans-serif;
$font-family-heading: Open sans, Helvetica, Arial, sans-serif;


/* Global */
/*  */
body {
   font-family: $font-family-text;
   background: $bg-body;
   color: $text-color;
}
h1,h2,h3,h4,h5,h6 {
   font-family: $font-family-heading;
}
a {
   text-decoration: none;
   color: $link-color;
}
img {
   width: 100%;
}

ul {
   padding: 0;
}


.footer-wrapper {
   background: $footer-bg;
}
.filter-wrapper {
  margin-bottom: 40px;
  .left {
      @include span( 6 of 12);
  }
  .right {
      @include span( 6 of 12 last);
  }
     .menu-categories {
      background: #fff;
      ul {
        margin: 0;
         li {
            float: left;
            display: inline;
            list-style: none;
            padding: 10px;
            a {
               color: $menu-link;
            }
            &:hover {
               cursor: pointer;
               background: #ccc;
               a {
                  color: $menu-link-hover;
               }
            }
         }
      }
   }
}
/* SearchBar */
.search-field {
     input[type="text"] {
        padding: 10px;
        width: 100%;
        font-size: 18px;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;
       }
    input[type="text"] {
       input[type="text"]:focus, 
       input[type="text"].focus {
        border-bottom: solid 2px #969696;
         }
      }

   .filter-terms, 
   .filter-subterms {
      float: left;
      padding: 10px;
      margin-top: 0.5em;
      font-size: 28px;
      font-weight: bold;
   }
   .hide {
      display: none;
   }
}

/* Course - School layout */
section {
   background: #fff;
   padding: 3em 1em;
   border-radius: 6px;
}
.page-title {
   font-size: 48px;
   padding: 2rem;
   text-align: center;
   font-weight: bold;
}
.section-title {
   padding: 0 0 0.4em;
   margin: 0 0 1em;
   border-bottom: 1px solid #ccc;
   font-size: 24px;
}


// CARD SCHOOLL PAGE
.card-school {
    display: flex;
}
.card-school {
  border-bottom: 1px solid #f3f3f3;
}
.cards-school-logo a{
  display: flex;
}
.card-school-title {
    padding: 8px;
}
.card-school-title a {
    color: #BB135F;
    font-size: 20px;
    font-weight: bold;
}
.cards-school-categories .cards-categories {
  padding: 8px;
}
.card-school-subcategories {
  ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  li {
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
    padding: 10px;
    flex-wrap: wrap;
    border: 1px solid #f5f5f5;
  }
  .course-age {
    font-size: 14px;  
  }
  .courses {
    flex-basis: 100%;
  }
}