<header class="navigation" role="banner">
  <div class="navigation-wrapper">
     
<!--  Logo -->
    <div class="logo">
        <a href="{{ site.baseurl }}"><h2>Active Koala</h2></a>
        </div>

<!--    Menu - Categories -->
     <div class="menu-categories">
        <ul>
           {% for menu in site.data.categories %}
           {% if menu.name == "none" %}
              <li><a href="{{site.baseurl}}">{{menu.gr}}</a></li>
           {% else %}
               <li><a href="{{site.baseurl}}/categories/{{menu.name}}">{{menu.gr}}</a></li>
           {% endif %}
             {% endfor %}
          </ul>
        </div>
     

     
  </div>
</header>