<header class="navigation" role="banner">
  <div class="navigation-wrapper">
     
<!--  Logo -->
    <div class="logo">
        <a href="{{ site.baseurl }}"><h2>Active Koala</h2></a>
        </div>

<!--    Menu -->
     <div class="menu-categories">
        <ul>
           {% for menu in site.data.categories %}            
               <li id="filter-{{menu.name}}" data-category-name="{{menu.name}}">{{menu.gr}}</li>  
             {% endfor %}
          </ul>
        </div>
<!--      Menu Subcategories -->
   <div class="menu-subcategories">
      <ul>     
         {% for menutop in site.data.categories %}            
            {% assign subcategories = site.data.[menutop.name] %}
            {% for menu in subcategories %}      
               <li id="filter-{{menu.name}}" class="hide filter-{{menutop.name}}  menu-subcategories-item" data-category-name="{{menutop.name}}" data-subcategory-name="{{menu.name}}">{{menu.gr}}</li>
            {% endfor %}
         {% endfor %}
         </ul>
        </div>
     </div>
</header>

