---
layout: default
---

{% include relations/school.html %}

<!-- School img -->
<!--  <div class="School-img">
      <img src="http://placehold.it/1120x461" alt="">
   </div> -->
<!-- School Title -->
<h1>{{page.title}}</h1>


<p>{{page.content}}</p>
<h2>Επικοινωνία</h2>
<h4>{{page.phone}}</h4>

<!-- Courses -->
<section class="section-courses">

{% assign courses = site.courses | where: 'school', page.title | group_by: 'subcategories' | sort: 'title'  %}

 <div id="courses" class="school-courses">

    <ul class="courses-list">  
         {% for group in courses %}
       <li class="school-course-title">       
          <div class="group-title">{{ group.name }}</div>
           {% assign items = group.items %}
           {% for item in items limit:1 %}
          <div class="program-days">
             {% for day in item.days %}
             <div class="days"> 
                <div class="day">{{ day.day }}</div>
             </div>
             {% endfor %}
          </div>
                {% endfor %}
<!--           Course Details -->
          
             {% for item in items  %}
               
                  <li class="course-program"> 
                     <div class="age">
                        <div class="title">{{ item.title }}</div>
                      </div>
<!--                      Program -->
                        <div class="program-times">
                                 {% for day in item.days %}
                           <div class="times"> 
                                       <div class="time">{{ day.time | replace: "&" , "</br>" }}</div>  
                           </div>
                                 {% endfor %}
                        </div>
                      </li>
                 {% endfor %}
          </li>
       {% endfor %}

     </ul>
</div>
<div id="map"></div>
</section>
{% for places in page.places limit: 1 %}
      {% assign placeone = site.places | where: 'title', places %}
      {% for place in placeone %}
      {% capture  placeTitle %}{{ place.title }}{% endcapture %}
      {% capture  placeUrl %}{{ place.url }}{% endcapture %}   
      {% capture  placeAddress %}{{ place.address }}{% endcapture %}
      {% capture  placePerioxi %}{{ place.perioxi }}{% endcapture %}
      {% capture  placeLat %}{{ place.latitude }}{% endcapture %}
      {% capture  placeLong %}{{ place.longitude }}{% endcapture %}
      {% endfor %}
{% endfor %}

<script>
// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map').setView([{{placeLat}}, {{placeLong}}], 17);

// add an OpenStreetMap tile layer
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// add a marker in the given location, attach some popup content to it and open the popup
L.marker([{{placeLat}}, {{placeLong}}]).addTo(map)
    .bindPopup('{{page.title}} <br>,{{ page.address }}')
    .openPopup();
</script>